# test
ifconfig.me
# install
github.com
objects.githubusercontent.com
raw.githubusercontent.com
code.jquery.com
momentjs.com
install.python-poetry.org
pypi.org
files.pythonhosted.org
cdnjs.cloudflare.com
cdn.datatables.net
playwright.azureedge.net
playwright-akamai.azureedge.net
playwright-verizon.azureedge.net
cdn.playwright.dev
playwright.download.prss.microsoft.com
# run
sanejs.circl.lu
ipasnhistory.circl.lu
www.cloudflare.com
# system - tinyproxy takes a single filters file
archive.ubuntu.com
ca.archive.ubuntu.com
azure.archive.ubuntu.com
security.ubuntu.com
ddebs.ubuntu.com
archive.canonical.com
changelogs.ubuntu.com
nova.clouds.archive.ubuntu.com
keyserver.ubuntu.com
livepatch.canonical.com
ppa.launchpad.net
# optional tools
mirrors.digitalocean.com
digitaloceanmirrors.com
repos.sonar.digitalocean.com
repos.insights.digitalocean.com
repos-droplet.digitalocean.com
pkg.osquery.io
osquery-packages.s3.us-east-1.amazonaws.com
download.falco.org
packages.microsoft.com
# pylookyloo
github.com
github.githubassets.com
accounts.google.com
content-autofill.googleapis.com
redirector.gvt1.com
rafiot.eu.pythonanywhere.com
www.circl.lu
www.google.dk
