[Unit]
Description=uWSGI instance to serve lookyloo
After=network.target

[Service]
User={{ lookyloo_user }}
Group={{ lookyloo_user }}
Type=forking
WorkingDirectory={{ lookyloo_root }}
Environment=PATH=/usr/sbin:/usr/bin:/sbin:/bin:{{ poetry_root }}/bin
ExecStart=/bin/bash -c "exec poetry run start"
ExecStop=/bin/bash -c "exec poetry run stop"
StandardOutput=append:/var/log/lookyloo_message.log
StandardError=append:/var/log/lookyloo_error.log


[Install]
WantedBy=multi-user.target