---
name: default-HEAD-bare-monthly

on:
  workflow_dispatch:
  schedule:  # run on the 11th of the month
    - cron: '40 2 11 * *'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ${{ matrix.distribution }}-${{ matrix.version }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        include:
          - distribution: ubuntu
            version: '24.04'
            suite: default
            experimental: true
          - distribution: ubuntu
            version: '22.04'
            suite: default
            experimental: false
    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks
      ANSIBLE_EXTRA_VARS: "-e lookyloo_version=HEAD"
      ANSIBLE_ROLE: juju4.lookyloo
      ANSIBLE_SUITE: ${{ matrix.suite }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          path: ${{ env.ANSIBLE_ROLE }}
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.x'
      - name: Cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb  # tag=v5.0.1
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt
            /var/_install
          key: cache-ansible-lookyloo-${{ steps.get-date.outputs.date }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible-lint flake8 yamllint
          which ansible
          pip3 install ansible
          pip3 show ansible
          ls -l $HOME/.local/bin || true
          ansible --version
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          [ -f molecule/$ANSIBLE_SUITE/requirements.yml ] && ansible-galaxy install -r molecule/$ANSIBLE_SUITE/requirements.yml
          [ -f get-dependencies.sh ] && sh -x get-dependencies.sh
          { echo '[defaults]'; echo 'callback_enabled = profile_tasks, timer'; echo 'roles_path = ../:/home/runner/.ansible/roles'; echo 'ansible_python_interpreter: /usr/bin/python3'; } >> ansible.cfg
      - name: Environment
        run: |
          set -x
          ansible --version
          ansible-config dump --only-changed -t all
          ansible-galaxy collection list || true
          ansible-galaxy role list || true
          pwd
          env
          find . -ls
      - name: Galaxy dependencies
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-galaxy install --timeout 120 --verbose -r molecule/$ANSIBLE_SUITE/requirements.yml
        continue-on-error: true
      - name: run test
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv molecule/$ANSIBLE_SUITE/converge.yml ${ANSIBLE_EXTRA_VARS}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: idempotency run
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv molecule/$ANSIBLE_SUITE/converge.yml ${ANSIBLE_EXTRA_VARS} | tee /tmp/idempotency.log | grep -q 'changed=0.*failed=0'  && (echo 'Idempotence test: pass' && exit 0)  || (echo 'Idempotence test: fail' && cat /tmp/idempotency.log && exit 0)
      - name: verify
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv molecule/$ANSIBLE_SUITE/verify.yml ${ANSIBLE_EXTRA_VARS}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
      - name: On failure
        run: |
          systemctl -l --no-pager status
          systemctl -l --no-pager --failed
          ls -l /usr/bin/ | egrep '(python|pip|ansible)'
          pip freeze
          pip3 freeze
          ip addr
          cat /etc/resolv.conf
          host www.google.com
          ping -c 1 www.google.com || true
          ping -c 1 8.8.8.8 || true
          ps axuw
          netstat -anp
        if: ${{ failure() }}
        continue-on-error: true
      - name: After script - ansible setup
        run: |
          ansible -i inventory --connection=local -m setup localhost
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - systemd
        run: |
          systemctl -l --no-pager status lookyloo-redis || true
          systemctl -l --no-pager status lookyloo-redis-indexing || true
          systemctl -l --no-pager status lookyloo-archiver || true
          systemctl -l --no-pager status lookyloo-async_capture || true
          systemctl -l --no-pager status lookyloo-background_indexer || true
          systemctl -l --no-pager status lookyloo-background_processing || true
          systemctl -l --no-pager status lookyloo-web || true
          systemctl -l --no-pager status uwhoisd || true
          systemd-analyze --no-pager security || true
          sudo find /etc/systemd/system/ -name 'lookyloo*' -exec cat {} \;
          rsyslogd -v
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - files
        run: |
          set -x
          sudo ls -la /var/_lookyloo/
          sudo ls -la /var/_lookyloo/redis
          sudo ls -la /var/_lookyloo/lookyloo
          sudo ls -la /var/_lookyloo/lookyloo/bin
          sudo find /var/_lookyloo/.cache/pypoetry/virtualenvs/ -ipath '/bin' -ls
          sudo cat /var/_lookyloo/lookyloo/config/generic.json
          sudo cat /var/_lookyloo/lookyloo/cache/cache.conf
          sudo cat /var/_lookyloo/lookyloo/indexing/indexing.conf
          sudo ls -la /var/_lookyloo/redis/src/redis-server || true
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - poetry
        run: |
          set -x
          cd /var/_lookyloo/lookyloo
          sudo -H -u _lookyloo /usr/local/share/poetry/bin/poetry show --tree || true
          sudo -H -u _lookyloo /usr/local/share/poetry/bin/poetry show --outdated || true
          sudo -H -u _lookyloo /usr/local/share/poetry/bin/poetry install --dry-run || true
          sudo -H /usr/local/share/poetry/bin/poetry show --tree || true
          sudo -H /usr/local/share/poetry/bin/poetry show --outdated || true
          sudo -H /usr/local/share/poetry/bin/poetry install --dry-run || true
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - curl
        run: |
          curl -vL http://localhost:5100 || true
          curl -vL "http://localhost:5100/capture?url=https://duckduckgo.com" || true
          curl -vL "http://localhost:5100/whois/duckduckgo.com" || true
          sleep 30
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - logs
        run: |
          set -x
          sudo find /var/log/ -name 'lookyloo*.log' -exec tail -100 {} \;
          sudo find /var/log/ -name 'uwhoisd*.log' -exec tail -100 {} \;
          ls -la /var/log/
          sudo tail -200 /var/log/syslog
        if: ${{ always() }}
        continue-on-error: true
      - name: After script - playwright
        run: |
          set -x
          sudo -u _lookyloo playwright screenshot https://github.com /tmp/test.png || true
          file /tmp/test.png || true
        if: ${{ always() }}
        continue-on-error: true
